### Miscellaneous
.DS_Store
Thumbs.db

### Composer
composer.lock
vendor/

### IDE
.idea/

### PHPCS
cs_fixer*

### Wordpress
/public_html/cms/*
!/public_html/cms/.gitkeep
/public_html/content/mu-plugins/themosis-framework/
/public_html/content/themes/themosis-theme/
/public_html/content/uploads/
/public_html/content/upgrade/


### Environment Credentials
.env
.env.*
!.env.local